<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <!--meta name="google-site-verification" content="D8Y1U-OWvCvn1KNZw7opiIq_hnD73IUn7SIlRNUpePQ" /-->
  <!--Roboto-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700|Roboto+Condensed" rel="stylesheet">
  <!-- GSAP -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/ScrollToPlugin.min.js"></script-->
  {% include 'style-tags', layout: 'theme' %}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}
  {% include 'snm-customer-variables'%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% include 'script-tags', layout: 'theme' %}
  <style>
    /* Solo para desarrollo, quita el iframe de Slate Local */
    #preview-bar-iframe {display:none;}
  </style>
  {{ content_for_header }}
</head>

{%comment%}<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">{%endcomment%}
<body id="{{ template | handleize }}" class="template-{{ template.name | handle }}">
  {% include 'definesvg' %}
  {% include 'snm-facebookInit' %}
  {% if handle == 'discos-de-balance' %}
    {% include 'pixel-discos' %}
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  
  {% include 'snm-fisio-widget' %}
  {%- comment -%} Se presenta en Popup, en footer {%- endcomment -%}
  {% include 'snm-showvars' with false %}
  {% include 'popup-account-register' with true %}
</body>
</html>
